<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.bootjsp.mapper.FileBlockMapper">

    <select id="getFileBlockByMd5AndIndex" resultType="Integer">
        select id from blockmeg where filemd5=#{fileMd5} and blockindex=#{blockIndex}
    </select>

    <insert id="insertFileBlockMeg">
        insert into blockmeg(filemd5,fileblocksize,blockindex,filename,blockpathname) values(
            #{fileMd5},#{fileBlockSize},#{blockIndex},#{fileName},#{blockPathName}
        )
    </insert>

    <select id="getFileMegByMd5" resultType="Integer">
        select id from filemeg where filemd5=#{fileMd5}
    </select>

    <resultMap id="fileBlockMap" type="com.wy.bootjsp.bean.FileBlock">
        <result column="blockpathname" property="blockPathName" />
        <result column="blockindex" property="blockIndex" />
    </resultMap>

    <select id="getFileBlocksPath" resultMap="fileBlockMap">
        select blockpathname,blockindex from blockmeg where filemd5=#{fileMd5}
    </select>

    <insert id="insertFileMeg">
        insert into filemeg(filemd5,fileblocksize,filename,pathname,filesize) value(
            #{fileMd5},#{fileBlockSize},#{fileName},#{pathName},#{fileSize}
        )
    </insert>

</mapper>